body {
  padding: 24px;
  font-family: system-ui;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

.add-product-contents form {
  display: flex;
  gap: 16px;
  label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
